/*import all components file*/
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/cards.css");

/*General style rules for fonts and colours*/
body{font-family: serif;
	font-size: 18px;
	margin: 0px;
}

a{text-decoration: none;}

h1{
	font-family: sans-serif;
	font-weight: bold;
	text-align: center;}

h2{
	font-family: sans-serif;
	font-weight: lighter;
	font-size:15px;
	text-align: justify;}

h3{
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 20px;
}


.container{
	width: 600px;
	margin: 10px auto;}

@media(max-width:500px){
	.container{width: 400px;}
}

@media(max-width: 760px){
	.container{width: 600px;}
}

.button{
	background-color: rgb(43, 114,227);
	padding: 15px 20px;
	border-radius:4px;
	color:white;
	font-weight: bold;}

.banner{
	background-image: linear-gradient(0deg,rgba(0,0,0,0.8)0%,rgba(0,0,0,0.2)50%),qq url(images/background.jpg);
	color:white;
	font-weight:bold;
	padding:150px 0px;
	background-size: cover;
}

.banner h2{
	margin-bottom: 40px;
}

.card{
	width: 600px;
	margin:20px auto;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2);
	border-radius: 8px;
	margin-bottom: 10px 0px;
	margin-left:10px;
	margin-right: 10px;
	flex-basis: 200px;
	flex-grow: 1;
}

.card h3{
	flex-grow: 1;
	font-size: 18px;
	padding-left: 20px;
	text-align:center;
}

.card img{
	border-radius: 10px;}

.cards{
	display:flex;
	flex-wrap: wrap;
}

